{
    "token": "",
    "clientId": "your-client-ID",
    "system": "",
    "settings": {
        "guildID": "",
        "verificationChannel": "your-test-guild-verify-channel",
        "testGuild": {
            "guildID": "your-test-guild",
            "verificationChannel": "your-test-guild-verify-channel"
        }
    }
}